:root {
    --normalFont: 'Lato', sans-serif;
    --fancyFont: 'Space Grotesk', sans-serif;
    font-family: var(--fancyFont);

    --lightGrey: #DAD7CD;
    --sage: #A3B18A;
    --fernGreen: #588157;
    --darkGreen: #3A5A40;
    --darkerGreen: #344E41;
}

* {
    /* border: solid rgb(215, 215, 215); */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    margin: 0 auto;    
    background-color: var(--darkerGreen);
}
/* main title */
h1 { 
    color: var(--lightGrey);
    font-size: 2.5em;
}
/* content titles, starter, main desert titles. etc */
h2 {
    font-size: 2rem;
}
p {
    font-size: 1.2rem;
}

#mainContainer {
    display: grid;
    height: 100%;
    min-height: 100vh;
    /* padding: 0 10px 0 10px; */
    grid-template-rows: 100px 50px 1fr 30px;
    grid-template-columns: 1fr;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    gap: 5px;

}
    button {
        font-size: 1.2rem;
        appearance: none;
        flex: 1 1 33%;
        border: none;
        border-radius: 5px 5px 0 0;
        background-color: var(--lightGrey);
    }
    .active {
        background-color: var(--sage);
    }

#content {
    background-color: var(--sage);
    min-width: 250px;
    overflow: scroll;
}

.nav,
#content {
    width: 95%;
    max-width: 450px;
    justify-self: center;
}

.info {
    /* width: 100%; */
    max-width: 450px;
    display: grid;
    padding: 10px;
}

.info h2 {
    text-align: end;
    /* width: 100%; */
    border-bottom: solid var(--darkerGreen);
}
.info>h2:nth-of-type(even){
    text-align: start;
}

    .home {
        gap: 15px;
    }
        
        .home >p:last-of-type {
            text-align: end;
        }
        .salmon {
            width: 65%;
            justify-self: right;
            border-radius: 5px;
            border: solid var(--darkerGreen);
        }
    /*  */
    .menu {
        gap: 20px;
    }
    
        .topRow {
            display: flex;
            gap: 5px;
        }
            .topRow > h3 {
                white-space: nowrap;
                flex: 0;
            }
            .topRow > span {
                flex: 1;
                border-bottom: dotted 2px var(--darkerGreen);
            }
        .bottomRow {
            font-style: italic;
        }
    /*  */
    .address {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .address img {
        width: 100%
    }

